<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

    <script src="js/openfb.js"></script>
    <script src="js/ngopenfb.js"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <script>
// Ionic Starter App

// angular.module is a global place for creating, registering and retrieving Angular modules
// 'starter' is the name of this angular module example (also set in a <body> attribute in index.html)
// the 2nd parameter is an array of 'requires'
// 'starter.services' is found in services.js
// 'starter.controllers' is found in controllers.js
var app = angular.module('app', ['ionic', 'ngOpenFB']);

// app.factory('FragenService', function($http,$q) {
//   var fragen = [];
//   return{
//     getFragen: function(){
//       var deferred = $q.defer();
//         if(fragen.length == 0){
//           $http.get("http://188.226.197.15/getFragen.php").success(function(data){
//             deferred.resolve(data);
//           });
//           return deferred.promise;
//         }else{
//           return fragen;
//         }
//      },
//     getFrage: function(runde){
//         var deferred = $q.defer();
//         var fragen = this.getFragen().then(function(fragen) {
//           deferred.resolve(fragen[runde]);
//         });
//         return deferred.promise;
//     }
//   }
// });

app.factory('FragenService', function ($http, $q) {
            var saved = [];

            getFragen = function (game){
              var deferred = $q.defer();
              var data = {'id1': game.Frage1, 'id2': game.Frage2, 'id3': game.Frage3};
              var config = {headers : {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}};

              $http.post("http://188.226.197.15/getFragen.php", data, config)
                      .success(function (data, status, headers, config) {
                        deferred.resolve(data);
                        //console.log(data);
                        //ret.push(data);
                      })
                      .error(function (data, status, header, config) {
                        console.log("ERROR");
                      });
              
                return deferred.promise;
            }
            
            return {
              saveFragen: function(game){
                saved.push(game);
                saved.push(getFragen(game));
                //console.log("saveFrage",saved);
              },
              getValues: function(){
                return saved;
              }
          }
});

app.value('Runde', 0);
app.value('Richtig', 0);
app.value('Falsch', 0);

app.value('Game', null);
app.value('Fragen', null);

// TODO get_Frage1..3 notwendig?
app.controller('FragenCtrl', function($scope, Runde, Richtig, Falsch, get_Frage1, get_Frage2, get_Frage3, $state) {
  $scope.Fragen = get_Frage1;

  $scope.click = function(answer, button) {
    document.getElementById(button).className = "button button-calm button-block ";
    setTimeout(function(){
      if(answer == $scope.Fragen.erg){
        document.getElementById(button).className = "button button-balanced button-block ";
        Richtig++;
      }else{
        document.getElementById(button).className = "button button-assertive button-block ";
        Falsch++;
        if($scope.Fragen.A == $scope.Fragen.erg) document.getElementById("buttonA").className = "button button-balanced button-block ";
        if($scope.Fragen.B == $scope.Fragen.erg) document.getElementById("buttonB").className = "button button-balanced button-block ";
        if($scope.Fragen.C == $scope.Fragen.erg) document.getElementById("buttonC").className = "button button-balanced button-block ";
        if($scope.Fragen.D == $scope.Fragen.erg) document.getElementById("buttonD").className = "button button-balanced button-block ";
      }
      setTimeout(function(){
        if (Runde < 3){
          Runde++;
           console.log('runde in contoller',Runde);
        }        
        document.getElementById("buttonA").className = "button button-light button-block ";
        document.getElementById("buttonB").className = "button button-light button-block ";
        document.getElementById("buttonC").className = "button button-light button-block ";
        document.getElementById("buttonD").className = "button button-light button-block ";

        if(Runde == 0) $scope.Fragen = get_Frage1;
        if(Runde == 1) $scope.Fragen = get_Frage2;
        if(Runde == 2) $scope.Fragen = get_Frage3;

        if (Runde < 3){
          $state.reload();
        }else{
          var score = angular.toJson({"Richtig":Richtig, "Falsch": Falsch});
          $state.go('page6', {'score':score});
        }
      },2000);
    },1000);
  };

});

app.controller('LoginCtrl', function($scope, $stateParams, $state, ngFB) {
  $scope.fbLogin = function () {
    ngFB.login({scope: 'email, public_profile, user_friends'}).then(
      function (response) {
          if (response.status === 'connected') {
              console.log('Facebook login succeeded', response);
          } else {
              alert('Facebook login failed');
          }
      });
  };
});

app.controller('ScoreCtrl', function($scope, $stateParams, $state) {
  $scope.score = angular.fromJson($stateParams.score);
  //console.log("d",score['Falsch']);
});

app.run(function($ionicPlatform, ngFB) {
  ngFB.init({appId: '512645572234640'});
  $ionicPlatform.ready(function() {
    // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
    // for form inputs)
    if(window.cordova && window.cordova.plugins.Keyboard) {
      cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
    }
    if(window.StatusBar) {
      // org.apache.cordova.statusbar required
      StatusBar.styleDefault();
    }
  });
});

 app.controller('ProfileCtrl', function ($scope, ngFB, $http, $q, Game, FragenService) {
    ngFB.api({
        path: '/me',
        params: {fields: 'id,name,age_range,link,gender,locale,timezone,friends'}
    }).then(
        function (user) {
            $scope.user = user;

            $scope.register(user.id, user.name).then(function(data){
              $scope.userData = data;
              console.log("userData",$scope.userData);
              $scope.openGames($scope.userData.ID).then(function(data){
                $scope.gamesData = data;
              });
            });

            
        },
        function (error) {
            alert('Facebook error: ' + error.error_description);
        });

    $scope.register = function (id,name){
      var deferred = $q.defer();
      var data = {'fb': id, 'name': name};
      var config = {headers : {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}};
      
      $http.post("http://188.226.197.15/user.php", data, config)
            .success(function (data, status, headers, config) {
             // $scope.userData = data;
             console.log("register",data);
             deferred.resolve(data);
            })
            .error(function (data, status, header, config) {
              console.log("ERROR");
            });
      return deferred.promise;
    };

    $scope.openGames = function (id){
      var deferred = $q.defer();
      var data = {'ID': id};
      var config = {headers : {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}};
      
      $http.post("http://188.226.197.15/getopengames.php", data, config)
            .success(function (data) {
              //$scope.openGams = data;
              console.log("openGames",data);
              deferred.resolve(data);
            })
            .error(function (data) {
              console.log("ERROR");
            });
      return deferred.promise;
    };

    $scope.anfrageSchicken = function (id, gegnerId){
      var data = {'AID': id, 'BFBID': gegnerId};
      console.log(data);
      var config = {headers : {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}};
      
      $http.post("http://188.226.197.15/spiel.php", data, config)
            .success(function (data, status, headers, config) {
              $scope.spielData = data;
               console.log(data);
            })
            .error(function (data, status, header, config) {
              console.log("ERROR");
            });
    };

    // $scope.startGame = function(Game){
    //   var data = {'id1': Game.Frage1, 'id2': Game.Frage2, 'id3': Game.Frage3};
    //   var config = {headers : {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}};

    //   $http.post("http://188.226.197.15/getFragen.php", data, config)
    //           .success(function (data, status, headers, config) {
    //             GameFragen = data;
    //             console.log("GameFragen", GameFragen);
    //           })
    //           .error(function (data, status, header, config) {
    //             console.log("ERROR");
    //           });
    // };

    $scope.setGame = function(openGame){
      Game = openGame;
      console.log(Game);
      FragenService.saveFragen(Game);
      console.log("fragen saved");
      //$scope.startGame(openGame);
      //console.log(FragenService.obj);

      //window.location.href = "#/page7";
    };
  });

app.controller('StartCtrl', function ($scope, Game, FragenService) {

  //$scope.Fragen = FICKDICH;
  //console.log("FEE", $scope.Fragen);

  $scope.logScope = function (){
    console.log("saved", FragenService.getValues());
    //console.log("Game", Game);
  };
});

app.config(function($stateProvider, $urlRouterProvider) {

  // Ionic uses AngularUI Router which uses the concept of states
  // Learn more here: https://github.com/angular-ui/ui-router
  // Set up the various states which the app can be in.
  // Each state's controller can be found in controllers.js
  $stateProvider
    
    .state('page1', {
      url: '/linez',
      templateUrl: 'page1.html',
      controller: 'FragenCtrl',
      resolve: {
        get_Frage1: function(FragenService, $q) {
          var deferred = $q.defer();
          FragenService.getFrage(0).then(function (fragen) {
            deferred.resolve(fragen);
          });
          return deferred.promise;
        },
        get_Frage2: function(FragenService, $q) {
          var deferred = $q.defer();
          FragenService.getFrage(1).then(function (fragen) {
            deferred.resolve(fragen);
          });
          return deferred.promise;
        },
        get_Frage3: function(FragenService, $q) {
          var deferred = $q.defer();
          FragenService.getFrage(2).then(function (fragen) {
            deferred.resolve(fragen);
          });
          return deferred.promise;
        }
      }
    })
    
    .state('page3', {
      url: '/login',
      templateUrl: 'page3.html',
      controller: 'LoginCtrl'
    })
    
    .state('page4', {
      url: '/Page4',
      templateUrl: 'page4.html'
    })
    
    .state('page5', {
      url: '/page5',
      templateUrl: 'page5.html',
      controller: 'ProfileCtrl'
    })
    
    .state('page6', {
      url: '/page6?score',
      templateUrl: 'page6.html',
      controller: 'ScoreCtrl'
    })

    .state('page7', {
      url: '/page7',
      templateUrl: 'page7.html',
      controller: 'StartCtrl',
      // resolve: {
      //   FICKDICH: function(FragenService, $q){
      //     var deferred = $q.defer();
      //      FragenService.getFragen().then(function (data){
      //         deferred.resolve(data);
      //      });
      //      return deferred.promise;
      //   }
      // }
    })
    ;

  // if none of the above states are matched, use this as the fallback
  
  $urlRouterProvider.otherwise('/login');
  

});

    </script>
  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div>
    <div>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
</div>



<script id="page1.html" type="text/ng-template">
<ion-view title="LineZ">
    <ion-content padding="true" class="has-header has-footer"> 
          <h2>{{Fragen.line}}</h2>
          <button id="buttonA" ng-click="click(Fragen.A, 'buttonA')" class="button button-light button-block" type="submit">{{Fragen.A}}</button>
          <button id="buttonB" ng-click="click(Fragen.B, 'buttonB')" class="button button-light button-block" type="submit">{{Fragen.B}}</button>
          <button id="buttonC" ng-click="click(Fragen.C, 'buttonC')" class="button button-light button-block" type="submit">{{Fragen.C}}</button>
          <button id="buttonD" ng-click="click(Fragen.D, 'buttonD')" class="button button-light button-block" type="submit">{{Fragen.D}}</button>
    </ion-content>
</ion-view></script>



<script id="page3.html" type="text/ng-template">
<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/page5" class="button button-light button-block ">Login</a>
            <a href="#/signup" class="button button-positive button-clear button-block ">Neuen Account erstellen</a>
            <div class="spacer" style="width: 300px; height: 127px;"></div>
            <a href="#/page5" class="button button-positive button-block" ng-click="fbLogin()" >Mit Facebook verbinden</a>
        </form>
    </ion-content>
</ion-view></script>


<script id="page4.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header">
        <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/P6IFK1ELC6.jpg" style="width: 100%;">
        <a href="#/login" class="button button-dark button-block button-large">Start!</a>
    </ion-content>
</ion-view></script>


<script id="page5.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header">
        <div class="item">
                
                <h2>{{user.name}}</h2>
                <img ng-src="http://graph.facebook.com/{{user.id}}/picture?width=100&height=100"/>
            </div>

            <h1>Offene Spiele</h1>
          <div class="list">
          <div ng-repeat="openGame in gamesData">

            <a href="#/page7" id="{{openGame.Name}}" ng-click="setGame(openGame)" class="button button-light button-block">{{openGame.Name}}</a>
            
          </div>
        </div>
        <h1>Gegner</h1>
        <div class="list">
          <div collection-repeat="friend in user.friends['data']">

            <button id="{{friend.id}}" ng-click="anfrageSchicken(userData.ID, friend.id)" class="button button-light button-block" type="submit"><img ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=100&height=100"/>{{friend.name}}</button>
            
          </div>
        </div>
     <!--   <ion-list>
            <ion-item ng-repeat="friend in user.friends['data']" item="friend">
              <p><img ng-click="click()" src="http://graph.facebook.com/{{friend.id}}/picture?width=100&height=100"/></p>
              <h2>{{friend.name}}</h2>
             </ion-item>
        </ion-list> -->

        <div class="spacer" style="height: 100px;"></div>
        <a href="#/linez" class="button button-stable button-block ">Zufälliger Gegner</a>
    </ion-content>
</ion-view></script>


<script id="page6.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">You</div>
            <div class="item item-body">Richtig: {{score['Richtig']}}<br>Falsch: {{score['Falsch']}}</div>
        </div>
        <div class="spacer" style="width: 300px; height: 106px;"></div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view></script>

<script id="page7.html" type="text/ng-template">
<ion-view title="Page">
    <ion-content padding="true" class="has-header">
        <div class="list card">
        <div ng-bind="Fragen.Frage1"></div>
        </div>
        <div class="spacer" style="width: 300px; height: 106px;"></div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
            <div class="button button-stable button-block" ng-click="logScope()">Log</div>
        </div>
    </ion-content>
</ion-view></script>


  </body>
</html>